.box {
    border-radius: 50px !important;
    box-shadow: 5px 6px 10px #8a2be2 !important;
}

.submit-button {
    background-color: blueviolet !important;
    color: white !important;
}

@media screen and (max-width: 1023px) {

    .box {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .hero-body {
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

}

.rotate {
    transform: rotateY(180deg);
}

.info-inner {
    max-height: 490px;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.info {

    perspective: 1000px;
    transition: transform 0.8s;
    backface-visibility: hidden;


}

.info-front {
    background-color: white;
    border-radius: 50px;
    transform: translate(0, 0);
    box-shadow: 0 0 5px 0 gray;
}

.info-back {
    background-color: white !important;
    transform: rotateY(180deg) translate(0, -100%);
    border-radius: 50px;
    box-shadow: 0 0 5px 0 gray;

}

#foto_usuario {

    border: #8a2be2 3px solid;
    height: 150px;
    width: 150px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.inputfile+label {

    background-color: black;
    color: white;
    padding: 10px 20px 10px 15px;
    cursor: pointer;
    border-radius: 999px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: gray;
    color: black;
}

.info-front,
.info-back {
    max-height: 490px;
    position: relative;
    backface-visibility: hidden;
}