#foto_usuario {

    border: #8a2be2 3px solid;
    height: 150px;
    width: 150px;
}

.box {
    border-radius: 50px !important;
    box-shadow: 5px 6px 10px #8a2be2 !important;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;

    transform: translate(-50%, -50%);
}

#projetos {

    overflow-y: auto;
    max-height: 200px;
}

#projetos::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

#projetos::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
}

#projetos::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #30045a;

}

.projeto {

    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px #8a2be2;

}

.projeto:hover {
    box-shadow: 1px 2px 5px #30045a;
}